In [2]:
import pandas as pd
import numpy as np

In [43]:
dt = pd.read_csv('EMPLOYEE.csv')
dt.to_csv('./emm.csv',index=0)

In [26]:
dt = pd.read_excel('EMPLOYEE.xlsx')
dt.head()

  ENAME  ESSN  ADDRESS  SALARY  SUPERSSN  DNO
0   王奶油   NaN      NaN     NaN       NaN  NaN
1   王小宝   NaN      NaN     NaN       NaN  NaN
2   王小胖   NaN      NaN     NaN       NaN  NaN
3   王小臭   NaN      NaN     NaN       NaN  NaN
4    王宝   NaN      NaN     NaN       NaN  NaN

In [62]:
essn1 = 230206200106161111
essn = []
for i in range(50):
    essn.append(str(essn1))
    essn1 +=1

In [33]:
salary1 = 1000.0
salary = []
for i in range(50):
    salary.append(salary1)
    salary1 += 100.0

In [17]:
add = ['南岗区','香坊区','松北区','道外区','道里区']
adds = []
for i in range(10):
    adds.extend(add)

In [68]:
spssn = ['230206200106161154','230206200106161111','230206200106161112','230206200106161113','230206200106161114']
spssns = []
for i in range(10):
    spssns.extend(spssn)

In [72]:
dno = ['D1','D2','D3','D4','D5']
dnos = []
for i in range(10):
    dnos.extend(dno)

In [77]:
pno = pd.read_csv('./pro.csv')['PNO']
pnos = []
for i in range(10):
    pnos.extend(pno)

In [79]:
hour = [8,9,10,11,12]
hours = []
for i in range(10):
    hours.extend(hour)

In [82]:
works = pd.DataFrame({'ESSN':essn,'PNO':pnos[:50],'HOURS':hours})
works.to_excel('./works.xlsx',index = 0)

In [66]:
pro = pd.DataFrame({'PNAME':[],'PNO':[],'PLOCATION':[],'DNO':[]})
pro.to_excel('./project.xlsx', index = 0)

In [73]:
df = pd.DataFrame({'ENAME':list(dt['ENAME']),'ESSN':essn,'SALARY':salary,'ADDRESS':adds,'SUPERSSN':spssns,'DNO':dnos})
df.to_excel('./EMPLOYEE.xlsx',index=0)

In [75]:
dpt = pd.DataFrame({'DNAME':['Research Department','战略部','策划部','市场部','摸鱼部'], 'DNO':dno, 'MGRSSN':spssn, 'MGRSTARTDATE':['2001-06-16','2001-06-16','2001-06-16','2001-06-16','2001-06-16']})
dpt.to_excel('./department.xlsx', index = 0)